* {
    margin: 0;
    padding: 0;
}
body {
    font: 13px sans-serif;
    color: #000;
}
ul {
    white-space: nowrap;
}
li {
    padding: 3px;
}
li:hover {
    background: -webkit-gradient(
        linear, left top, left bottom, from(#6a96c4), to(#456180)
    );
    color: #fff;
}
